body {
    background-color: #26F0C2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
}

footer {
    background-color: #2BF082;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    font-size: small;
}

img { 
    width: 100%;
    height: auto;
    opacity: 1;
}

/* 
Main - #3AF04C
Secondary - #2BF082
3rd - #26F0C2
4th -
5th -
6yh -
+ black & white
*/