@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

body {
    background-color: #D3D3D3;
    font-family: 'Days One', sans-serif;
    font-weight: 900;
    text-align: center;
}

.logo {
    text-align: center;
    font-family: 'Days One', sans-serif;
    font-weight: 900;
    padding: 25px;
}

.logo-item {
    text-align: center;
    font-family: 'Days One', sans-serif;
    font-weight: 900;
    display: block;
    padding: 25px 0;
}


.SignUp {
    font-family: 'Days One', sans-serif;
    font-weight: 900;
    width: 200px;
    height: 75px;
    border-radius: 50px;
    background-color: #02a0a0;
}

/* Targeting the button with class .SignUp */
.LogIn {
    font-family: 'Days One', sans-serif;
    font-weight: 900;
    width: 200px;
    height: 75px;
    border-radius: 50px;
    background-color: #02a0a0;
}


footer {
    background-color: #808080;
    font-family: 'Days One', sans-serif;
    font-weight: 900;
    text-align: center;
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    height: 25px;
    font-size: small;
}
img { width: 100%; height: auto; opacity: 1; } 

.testButton { 
    background-color: #02a0a0;
    color: #000;
    font-family: 'Days One', sans-serif;
    font-weight: 900;
    text-align: center; font-size: x-small; 
}

.testDiv1 {
    background-color: #191970;
    color: #D3D3D3;
}


/*
#191970
##808080
#008080
Buttons #02a0a0

BackGround (#D3D3D3)
+ Black & White
*/